### Libraries

In [5]:
import pandas as pd
from pandas import json_normalize

import requests 
import json
import os
from dotenv import load_dotenv 

import time

import re

from bs4 import BeautifulSoup as bs
from fuzzywuzzy import fuzz

c:\Users\danid\miniconda3\envs\ironhack\lib\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

### Setting api key

In [6]:
load_dotenv()

True

In [7]:
key = os.getenv("api-key")

In [8]:
url = f'https://imdb-api.com/API/MostPopularMovies/{key}'

In [9]:
res = requests.get(url)

In [10]:
res

In [11]:
res.json()

{'items': [{'id': 'tt1630029',
   'rank': '1',
   'rankUpDown': '+1',
   'title': 'Avatar: The Way of Water',
   'fullTitle': 'Avatar: The Way of Water (2022)',
   'year': '2022',
   'image': 'https://m.media-amazon.com/images/M/MV5BYjhiNjBlODctY2ZiOC00YjVlLWFlNzAtNTVhNzM1YjI1NzMxXkEyXkFqcGdeQXVyMjQxNTE1MDA@._V1_Ratio0.7015_AL_.jpg',
   'crew': 'James Cameron (dir.), Sam Worthington, Zoe Saldana',
   'imDbRating': '7.8',
   'imDbRatingCount': '282229'},
  {'id': 'tt9764362',
   'rank': '2',
   'rankUpDown': '-1',
   'title': 'The Menu',
   'fullTitle': 'The Menu (2022)',
   'year': '2022',
   'image': 'https://m.media-amazon.com/images/M/MV5BMzdjNjI5MmYtODhiNS00NTcyLWEzZmUtYzVmODM5YzExNDE3XkEyXkFqcGdeQXVyMTAyMjQ3NzQ1._V1_Ratio0.6716_AL_.jpg',
   'crew': 'Mark Mylod (dir.), Ralph Fiennes, Anya Taylor-Joy',
   'imDbRating': '7.2',
   'imDbRatingCount': '213760'},
  {'id': 'tt10640346',
   'rank': '3',
   'rankUpDown': '+1',
   'title': 'Babylon',
   'fullTitle': 'Babylon (2022)',
   'year': '2022',
   'image': 'https://m.media-amazon.com/images/M/MV5BNjlkYjc4NGMtZjc3MS00NjQ3LTk4MmUtMTkwZGZjODE1ZDVlXkEyXkFqcGdeQXVyODk4OTc3MTY@._V1_Ratio0.6716_AL_.jpg',
   'crew': 'Damien Chazelle (dir.), Brad Pitt, Margot Robbie',
   'imDbRating': '7.4',
   'imDbRatingCount': '49652'},
  {'id': 'tt6710474',
   'rank': '4',
   'rankUpDown': '+5',
   'title': 'Everything Everywhere All at Once',
   'fullTitle': 'Everything Everywhere All at Once (2022)',
   'year': '2022',
   'image': 'https://m.media-amazon.com/images/M/MV5BYTdiOTIyZTQtNmQ1OS00NjZlLWIyMTgtYzk5Y2M3ZDVmMDk1XkEyXkFqcGdeQXVyMTAzMDg4NzU0._V1_Ratio0.6716_AL_.jpg',
   'crew': 'Dan Kwan (dir.), Michelle Yeoh, Stephanie Hsu',
   'imDbRating': '8.0',
   'imDbRatingCount': '317112'},
  {'id': 'tt8760708',
   'rank': '5',
   'rankUpDown': '0',
   'title': 'M3GAN',
   'fullTitle': 'M3GAN (2022)',
   'year': '2022',
   'image': 'https://m.media-amazon.com/images/M/MV5BMDk4MTdhYzEtODk3OS00ZDBjLWFhNTQtMDI2ODdjNzQzZTA3XkEyXkFqcGdeQXVyMjMxOTE0ODA@._V1_Ratio0.6716_AL_.jpg',
   'crew': 'Gerard Johnstone (dir.), Allison Williams, Violet McGraw',
   'imDbRating': '6.4',
   'imDbRatingCount': '53447'},
  {'id': 'tt11813216',
   'rank': '6',
   'rankUpDown': '+2',
   'title': 'The Banshees of Inisherin',
   'fullTitle': 'The Banshees of Inisherin (2022)',
   'year': '2022',
   'image': 'https://m.media-amazon.com/images/M/MV5BM2NlZDI0ZDktNTg5OS00ZjQ1LWI4MDEtN2I0MDE5NWRiNzA4XkEyXkFqcGdeQXVyMTY5Nzc4MDY@._V1_Ratio0.6716_AL_.jpg',
   'crew': 'Martin McDonagh (dir.), Colin Farrell, Brendan Gleeson',
   'imDbRating': '7.8',
   'imDbRatingCount': '120257'},
  {'id': 'tt12844910',
   'rank': '7',
   'rankUpDown': '+291',
   'title': 'Pathaan',
   'fullTitle': 'Pathaan (2023)',
   'year': '2023',
   'image': 'https://m.media-amazon.com/images/M/MV5BM2QzM2JiNTMtYjU4Ny00MDZkLTk3MmUtYTRjMzVkZGJlNmYyXkEyXkFqcGdeQXVyMTUzNTgzNzM0._V1_Ratio0.7313_AL_.jpg',
   'crew': 'Siddharth Anand (dir.), Shah Rukh Khan, Deepika Padukone',
   'imDbRating': '6.7',
   'imDbRatingCount': '112865'},
  {'id': 'tt14826022',
   'rank': '8',
   'rankUpDown': '+84',
   'title': 'You People',
   'fullTitle': 'You People (2023)',
   'year': '2023',
   'image': 'https://m.media-amazon.com/images/M/MV5BNGM2NTQ2MGUtYmVjZS00YTNjLTkxMjUtOWQ2ZjRiMDQyNmVlXkEyXkFqcGdeQXVyMTE5MTg5NDIw._V1_Ratio0.6716_AL_.jpg',
   'crew': 'Kenya Barris (dir.), Jonah Hill, Lauren London',
   'imDbRating': '5.6',
   'imDbRatingCount': '30662'},
  {'id': 'tt15486810',
   'rank': '9',
   'rankUpDown': '0',
   'title': 'Teen Wolf: The Movie',
   'fullTitle': 'Teen Wolf: The Movie (2023)',
   'year': '2023',
   'image': 'https://m.media-amazon.com/images/M/MV5BYWYyZWU5NzctYjY4Zi00MzYyLTgxZTMtZjBmYWE2NGMwYTllXkEyXkFqcGdeQXVyODk4OTc3MTY@._V1_Ratio0.6716_AL_.jpg',
   'crew': 'Russell Mulcahy (dir.), Tyler Posey, Crystal Reed',
   'imDbRating': '5.7',
   'imDbRatingCount': '7521'},
  {'id': 'tt3915174',
   'rank': '10',
   'rankUpDown': '-4',
   'title': 'Puss in Boots: The Last Wish',
   'fullTitle': 'Puss in Boots: The Last Wish (2022)',
   'year': '2022',
   'image': 'https://m.media-amazon.com/images/M/MV5BNjMyMDBjMGUtNDUzZi00N2MwLTg1MjItZTk2MDE1OTZmNTYxXkEyXkFqcGdeQXVyMTQ5NjA0NDM0._V1_Ratio0.6716_AL_.jpg',
   'crew': 'Joel Crawford (dir.), Antonio Banderas, Salma Hayek',
   'imDbRating': '7.9',
   'imDbRatingCount': '63761'},
  {'id': 'tt14138650',
   'rank': '11',
   'rankUpDown': '-8',
   'title': 'The Pale Blue Eye',
   'fullTitle': 'The Pale Blue Eye (2022)',
   'year': '2022',
   'image': 'https://m.media-amazon.com/images/M/MV5BZDg2YThlMTItYzhhMy00OWE3LTljYTAtYTExMDM5NzRjOGFhXkEyXkFqcGdeQXVyMTEzMTI1Mjk3._V1_Ratio0.7910_AL_.jpg',
   'crew': 'Scott Cooper (dir.), Christian Bale, Harry Melling',
   'imDbRating': '6.6',
   'imDbRatingCount': '79460'},
  {'id': 'tt10365998',
   'rank': '12',
   'rankUpDown': '+99',
   'title': 'Infinity Pool',
   'fullTitle': 'Infinity Pool (2023)',
   'year': '2023',
   'image': 'https://m.media-amazon.com/images/M/MV5BZDQxZTY0ZDItY2Y0Yy00OTIzLTkwYTgtNmNkODhiYTk4MzUwXkEyXkFqcGdeQXVyODE5NzE3OTE@._V1_Ratio0.6716_AL_.jpg',
   'crew': 'Brandon Cronenberg (dir.), Alexander Skarsgård, Mia Goth',
   'imDbRating': '6.8',
   'imDbRatingCount': '3480'},
  {'id': 'tt7322224',
   'rank': '13',
   'rankUpDown': '+8',
   'title': 'Triangle of Sadness',
   'fullTitle': 'Triangle of Sadness (2022)',
   'year': '2022',
   'image': 'https://m.media-amazon.com/images/M/MV5BNDRiZjc0ZDMtMjhlYi00ZjAzLTg0MDQtZDI2NGEyYTBlN2M2XkEyXkFqcGdeQXVyMTA2MDU0NjM5._V1_Ratio0.6716_AL_.jpg',
   'crew': 'Ruben Östlund (dir.), Thobias Thorwid, Harris Dickinson',
   'imDbRating': '7.5',
   'imDbRatingCount': '75437'},
  {'id': 'tt11564570',
   'rank': '14',
   'rankUpDown': '-7',
   'title': 'Glass Onion',
   'fullTitle': 'Glass Onion (2022)',
   'year': '2022',
   'image': 'https://m.media-amazon.com/images/M/MV5BYmZlZDZkZjYtNzE5Mi00ODFhLTk2OTgtZWVmODBiZTI4NGFiXkEyXkFqcGdeQXVyMTE5MTg5NDIw._V1_Ratio0.6716_AL_.jpg',
   'crew': 'Rian Johnson (dir.), Daniel Craig, Edward Norton',
   'imDbRating': '7.2',
   'imDbRatingCount': '320300'},
  {'id': 'tt13833688',
   'rank': '15',
   'rankUpDown': '-4',
   'title': 'The Whale',
   'fullTitle': 'The Whale (2022)',
   'year': '2022',
   'image': 'https://m.media-amazon.com/images/M/MV5BZDQ4Njg4YTctNGZkYi00NWU1LWI4OTYtNmNjOWMyMjI1NWYzXkEyXkFqcGdeQXVyMTA3MDk2NDg2._V1_Ratio0.7015_AL_.jpg',
   'crew': 'Darren Aronofsky (dir.), Brendan Fraser, Sadie Sink',
   'imDbRating': '8.0',
   'imDbRatingCount': '22900'},
  {'id': 'tt14208870',
   'rank': '16',
   'rankUpDown': '-4',
   'title': 'The Fabelmans',
   'fullTitle': 'The Fabelmans (2022)',
   'year': '2022',
   'image': 'https://m.media-amazon.com/images/M/MV5BZGM1MzczNmQtMjBmYS00NTRhLWI0MzctNTFkZDc4OGUyODdjXkEyXkFqcGdeQXVyMjMxOTE0ODA@._V1_Ratio0.6716_AL_.jpg',
   'crew': 'Steven Spielberg (dir.), Michelle Williams, Gabriel LaBelle',
   'imDbRating': '7.7',
   'imDbRatingCount': '48311'},
  {'id': 'tt14444726',
   'rank': '17',
   'rankUpDown': '-2',
   'title': 'Tár',
   'fullTitle': 'Tár (2022)',
   'year': '2022',
   'image': 'https://m.media-amazon.com/images/M/MV5BM2I0ZDcyYzItMGEyNi00YWVhLTlmNTQtOWVlYjE1ZGVhNWM0XkEyXkFqcGdeQXVyMTkxNjUyNQ@@._V1_Ratio0.6716_AL_.jpg',
   'crew': 'Todd Field (dir.), Cate Blanchett, Noémie Merlant',
   'imDbRating': '7.6',
   'imDbRatingCount': '33036'},
  {'id': 'tt9686790',
   'rank': '18',
   'rankUpDown': '+33',
   'title': 'Shotgun Wedding',
   'fullTitle': 'Shotgun Wedding (2022)',
   'year': '2022',
   'image': 'https://m.media-amazon.com/images/M/MV5BN2IwZDU2NDAtNmJlYS00NDJlLWI1ZjQtOTViY2I0YWZlM2U1XkEyXkFqcGdeQXVyMjkwOTAyMDU@._V1_Ratio0.6716_AL_.jpg',
   'crew': 'Jason Moore (dir.), Jennifer Lopez, Josh Duhamel',
   'imDbRating': '5.5',
   'imDbRatingCount': '15331'},
  {'id': 'tt1016150',
   'rank': '19',
   'rankUpDown': '+18',
   'title': 'All Quiet on the Western Front',
   'fullTitle': 'All Quiet on the Western Front (2022)',
   'year': '2022',
   'image': 'https://m.media-amazon.com/images/M/MV5BYTE1MmZiMWYtYTFmZi00YjA3LWI2ODgtMWFlNWYxZjdmNGE3XkEyXkFqcGdeQXVyNjk1Njg5NTA@._V1_Ratio0.7910_AL_.jpg',
   'crew': 'Edward Berger (dir.), Felix Kammerer, Albrecht Schuch',
   'imDbRating': '7.8',
   'imDbRatingCount': '129964'},
  {'id': 'tt7405458',
   'rank': '20',
   'rankUpDown': '-10',
   'title': 'A Man Called Otto',
   'fullTitle': 'A Man Called Otto (2022)',
   'year': '2022',
   'image': 'https://m.media-amazon.com/images/M/MV5BNzg3OTEzMTgtYWU0OC00YTI0LWIxOTAtNmRkNTc0Nzg2YWU1XkEyXkFqcGdeQXVyNjY1MTg4Mzc@._V1_Ratio0.7910_AL_.jpg',
   'crew': 'Marc Forster (dir.), Tom Hanks, Mariana Treviño',
   'imDbRating': '7.6',
   'imDbRatingCount': '13894'},
  {'id': 'tt19770238',
   'rank': '21',
   'rankUpDown': '+8',
   'title': 'Aftersun',
   'fullTitle': 'Aftersun (2022)',
   'year': '2022',
   'image': 'https://m.media-amazon.com/images/M/MV5BMTM3OTU0ZGUtNzYwYy00ODU3LWI3YjgtOWZlODliMmRiMWEzXkEyXkFqcGdeQXVyMTAyMjQ3NzQ1._V1_Ratio0.6716_AL_.jpg',
   'crew': 'Charlotte Wells (dir.), Paul Mescal, Frankie Corio',
   'imDbRating': '7.8',
   'imDbRatingCount': '32012'},
  {'id': 'tt2906216',
   'rank': '22',
   'rankUpDown': '+290',
   'title': 'Dungeons & Dragons: Honor Among Thieves',
   'fullTitle': 'Dungeons & Dragons: Honor Among Thieves (2023)',
   'year': '2023',
   'image': 'https://m.media-amazon.com/images/M/MV5BZjAyMGMwYTEtNDk4ZS00YmY0LThhZjUtOWI4ZjFmZmU4N2I3XkEyXkFqcGdeQXVyMTEyNzQ1MTk0._V1_Ratio0.6716_AL_.jpg',
   'crew': 'John Francis Daley (dir.), Chris Pine, Michelle Rodriguez',
   'imDbRating': '',
   'imDbRatingCount': '0'},
  {'id': 'tt1745960',
   'rank': '23',
   'rankUpDown': '-3',
   'title': 'Top Gun: Maverick',
   'fullTitle': 'Top Gun: Maverick (2022)',
   'year': '2022',
   'image': 'https://m.media-amazon.com/images/M/MV5BZWYzOGEwNTgtNWU3NS00ZTQ0LWJkODUtMmVhMjIwMjA1ZmQwXkEyXkFqcGdeQXVyMjkwOTAyMDU@._V1_Ratio0.6716_AL_.jpg',
   'crew': 'Joseph Kosinski (dir.), Tom Cruise, Jennifer Connelly',
   'imDbRating': '8.3',
   'imDbRatingCount': '517079'},
  {'id': 'tt9737876',
   'rank': '24',
   'rankUpDown': '+2432',
   'title': "Narvik: Hitler's First Defeat",
   'fullTitle': "Narvik: Hitler's First Defeat (2022)",
   'year': '2022',
   'image': 'https://m.media-amazon.com/images/M/MV5BNmVlY2Q1OTUtZjRmYi00OTZiLTg5NzktM2M0ZGViNzczOThlXkEyXkFqcGdeQXVyMDMxMTgwOQ@@._V1_Ratio0.7015_AL_.jpg',
   'crew': 'Erik Skjoldbjærg (dir.), Kristine Hartgen, Billy Campbell',
   'imDbRating': '6.6',
   'imDbRatingCount': '7306'},
  {'id': 'tt13669038',
   'rank': '25',
   'rankUpDown': '+25',
   'title': 'Women Talking',
   'fullTitle': 'Women Talking (2022)',
   'year': '2022',
   'image': 'https://m.media-amazon.com/images/M/MV5BYTZmMmQ4OWYtM2JmNC00NzY0LWJhODUtOTRmMWMyOTU4OWQ4XkEyXkFqcGdeQXVyMjkwOTAyMDU@._V1_Ratio0.6716_AL_.jpg',
   'crew': 'Sarah Polley (dir.), Rooney Mara, Claire Foy',
   'imDbRating': '7.5',
   'imDbRatingCount': '3927'},
  {'id': 'tt13560574',
   'rank': '26',
   'rankUpDown': '-12',
   'title': 'X',
   'fullTitle': 'X (2022)',
   'year': '2022',
   'image': 'https://m.media-amazon.com/images/M/MV5BMTJiMmE5YWItOWZjYS00YTg0LWE0MTYtMzg2ZTY4YjNkNDEzXkEyXkFqcGdeQXVyMTAzMDg4NzU0._V1_Ratio0.7910_AL_.jpg',
   'crew': 'Ti West (dir.), Mia Goth, Jenna Ortega',
   'imDbRating': '6.6',
   'imDbRatingCount': '111301'},
  {'id': 'tt22352848',
   'rank': '27',
   'rankUpDown': '+146',
   'title': 'Jung_E',
   'fullTitle': 'Jung_E (2023)',
   'year': '2023',
   'image': 'https://m.media-amazon.com/images/M/MV5BODQzZmE5NWUtODIyMi00MWVlLWJmMTYtNjAyN2ZjNGQ0ZmNkXkEyXkFqcGdeQXVyMTEzMTI1Mjk3._V1_Ratio0.6716_AL_.jpg',
   'crew': 'Sang-ho Yeon (dir.), Lee Dong-Hee, Lee Ga-Kyung',
   'imDbRating': '5.4',
   'imDbRatingCount': '6670'},
  {'id': 'tt5884796',
   'rank': '28',
   'rankUpDown': '-15',
   'title': 'Plane',
   'fullTitle': 'Plane (2023)',
   'year': '2023',
   'image': 'https://m.media-amazon.com/images/M/MV5BZDc4MzVkNzYtZTRiZC00ODYwLWJjZmMtMDIyNjQ1M2M1OGM2XkEyXkFqcGdeQXVyMDA4NzMyOA@@._V1_Ratio0.6716_AL_.jpg',
   'crew': 'Jean-François Richet (dir.), Gerard Butler, Mike Colter',
   'imDbRating': '6.7',
   'imDbRatingCount': '14421'},
  {'id': 'tt13131232',
   'rank': '29',
   'rankUpDown': '+28',
   'title': 'Mission Majnu',
   'fullTitle': 'Mission Majnu (2023)',
   'year': '2023',
   'image': 'https://m.media-amazon.com/images/M/MV5BYTYwYmI0NGItYmFkYi00NzViLWIwMGEtNGNjYjQwYjY1NTQ1XkEyXkFqcGdeQXVyODE5NzE3OTE@._V1_Ratio0.7910_AL_.jpg',
   'crew': 'Shantanu Bagchi (dir.), Sidharth Malhotra, Rashmika Mandanna',
   'imDbRating': '7.8',
   'imDbRatingCount': '37310'},
  {'id': 'tt12593682',
   'rank': '30',
   'rankUpDown': '-14',
   'title': 'Bullet Train',
   'fullTitle': 'Bullet Train (2022)',
   'year': '2022',
   'image': 'https://m.media-amazon.com/images/M/MV5BOTBhZGJjYjQtODRjOC00MWJhLTk1NTctZDJiM2JkMTY3MGNiXkEyXkFqcGdeQXVyMTA3MDk2NDg2._V1_Ratio0.6716_AL_.jpg',
   'crew': 'David Leitch (dir.), Brad Pitt, Joey King',
   'imDbRating': '7.3',
   'imDbRatingCount': '284593'},
  {'id': 'tt3704428',
   'rank': '31',
   'rankUpDown': '-7',
   'title': 'Elvis',
   'fullTitle': 'Elvis (2022)',
   'year': '2022',
   'image': 'https://m.media-amazon.com/images/M/MV5BYzMzNTJjYmMtZTkxNS00MjI4LWI3YmQtOTQ4MDZjZDJlZjQyXkEyXkFqcGdeQXVyNjc0NzQzNTM@._V1_Ratio0.6716_AL_.jpg',
   'crew': 'Baz Luhrmann (dir.), Tom Hanks, Austin Butler',
   'imDbRating': '7.4',
   'imDbRatingCount': '174855'},
  {'id': 'tt8946378',
   'rank': '32',
   'rankUpDown': '-15',
   'title': 'Knives Out',
   'fullTitle': 'Knives Out (2019)',
   'year': '2019',
   'image': 'https://m.media-amazon.com/images/M/MV5BMGUwZjliMTAtNzAxZi00MWNiLWE2NzgtZGUxMGQxZjhhNDRiXkEyXkFqcGdeQXVyNjU1NzU3MzE@._V1_Ratio0.6716_AL_.jpg',
   'crew': 'Rian Johnson (dir.), Daniel Craig, Chris Evans',
   'imDbRating': '7.9',
   'imDbRatingCount': '700359'},
  {'id': 'tt17663992',
   'rank': '33',
   'rankUpDown': '-15',
   'title': 'Scream VI',
   'fullTitle': 'Scream VI (2023)',
   'year': '2023',
   'image': 'https://m.media-amazon.com/images/M/MV5BYTQ5OTkxNGEtZjZkMS00ZjBlLWE2OWYtM2ZkOTU3MjRlNzAxXkEyXkFqcGdeQXVyMTQzNTA5MzYz._V1_Ratio0.7910_AL_.jpg',
   'crew': 'Matt Bettinelli-Olpin (dir.), Melissa Barrera, Courteney Cox',
   'imDbRating': '',
   'imDbRatingCount': '0'},
  {'id': 'tt0499549',
   'rank': '34',
   'rankUpDown': '-15',
   'title': 'Avatar',
   'fullTitle': 'Avatar (2009)',
   'year': '2009',
   'image': 'https://m.media-amazon.com/images/M/MV5BZDA0OGQxNTItMDZkMC00N2UyLTg3MzMtYTJmNjg3Nzk5MzRiXkEyXkFqcGdeQXVyMjUzOTY1NTc@._V1_Ratio0.6716_AL_.jpg',
   'crew': 'James Cameron (dir.), Sam Worthington, Zoe Saldana',
   'imDbRating': '7.9',
   'imDbRatingCount': '1317996'},
  {'id': 'tt10954600',
   'rank': '35',
   'rankUpDown': '-13',
   'title': 'Ant-Man and the Wasp: Quantumania',
   'fullTitle': 'Ant-Man and the Wasp: Quantumania (2023)',
   'year': '2023',
   'image': 'https://m.media-amazon.com/images/M/MV5BMDIzM2FlNTctNjAzZi00YzhkLThjYWQtMDY5Njc0NjdmMGVlXkEyXkFqcGdeQXVyMTUzOTcyODA5._V1_Ratio0.6716_AL_.jpg',
   'crew': 'Peyton Reed (dir.), Paul Rudd, Evangeline Lilly',
   'imDbRating': '',
   'imDbRatingCount': '0'},
  {'id': 'tt15679400',
   'rank': '36',
   'rankUpDown': '+17',
   'title': 'Knock at the Cabin',
   'fullTitle': 'Knock at the Cabin (2023)',
   'year': '2023',
   'image': 'https://m.media-amazon.com/images/M/MV5BZTc4MjU0MjMtYTEwNy00YjNlLTk2MGYtMjNlNzFjMmY4MjQ0XkEyXkFqcGdeQXVyODk4OTc3MTY@._V1_Ratio0.6716_AL_.jpg',
   'crew': 'M. Night Shyamalan (dir.), Dave Bautista, Jonathan Groff',
   'imDbRating': '6.4',
   'imDbRatingCount': '7902'},
  {'id': 'tt7693316',
   'rank': '37',
   'rankUpDown': '-4',
   'title': 'Devotion',
   'fullTitle': 'Devotion (2022)',
   'year': '2022',
   'image': 'https://m.media-amazon.com/images/M/MV5BMjI5NGJjMmEtODk4Yy00ZDRjLWE5ZGItMjJiNGM4NTI0NmZkXkEyXkFqcGdeQXVyNjk1Njg5NTA@._V1_Ratio0.7910_AL_.jpg',
   'crew': 'J.D. Dillard (dir.), Jonathan Majors, Glen Powell',
   'imDbRating': '6.7',
   'imDbRatingCount': '13698'},
  {'id': 'tt8129806',
   'rank': '38',
   'rankUpDown': '+55',
   'title': 'To Leslie',
   'fullTitle': 'To Leslie (2022)',
   'year': '2022',
   'image': 'https://m.media-amazon.com/images/M/MV5BNmNiMGRkYmUtYjI4MC00ZDg4LTk3YjktNTczNzEzYmExMjAwXkEyXkFqcGdeQXVyMTQ4MTk0NjYx._V1_Ratio0.7015_AL_.jpg',
   'crew': 'Michael Morris (dir.), Andrea Riseborough, Allison Janney',
   'imDbRating': '7.1',
   'imDbRatingCount': '3874'},
  {'id': 'tt13539646',
   'rank': '39',
   'rankUpDown': '+3111',
   'title': 'The Wandering Earth II',
   'fullTitle': 'The Wandering Earth II (2023)',
   'year': '2023',
   'image': 'https://m.media-amazon.com/images/M/MV5BN2IzY2E2MTQtNTMxMy00YTJjLTkzYTEtYzAyM2VlYjFjZDQzXkEyXkFqcGdeQXVyMTI5ODA1OTU0._V1_Ratio0.6716_AL_.jpg',
   'crew': 'Frant Gwo (dir.), Andy Lau, Jing Wu',
   'imDbRating': '8.0',
   'imDbRatingCount': '5971'},
  {'id': 'tt14308636',
   'rank': '40',
   'rankUpDown': '-6',
   'title': 'Bank of Dave',
   'fullTitle': 'Bank of Dave (2023)',
   'year': '2023',
   'image': 'https://m.media-amazon.com/images/M/MV5BYWEyOGM0MTAtNGUzYy00YWQ4LWE4ODAtNzY5MWRjOTY3MjEzXkEyXkFqcGdeQXVyMzI2NTcxODU@._V1_Ratio0.7015_AL_.jpg',
   'crew': 'Chris Foggin (dir.), Phoebe Dynevor, Joel Fry',
   'imDbRating': '7.2',
   'imDbRatingCount': '4000'},
  {'id': 'tt11976532',
   'rank': '41',
   'rankUpDown': '+39',
   'title': 'Vengeance',
   'fullTitle': 'Vengeance (2022)',
   'year': '2022',
   'image': 'https://m.media-amazon.com/images/M/MV5BNDkyZGFjZDEtODdiZS00YmJiLWE2NTEtZGIxMTUzN2ZjZjA3XkEyXkFqcGdeQXVyMDA4NzMyOA@@._V1_Ratio0.6716_AL_.jpg',
   'crew': 'B.J. Novak (dir.), B.J. Novak, Boyd Holbrook',
   'imDbRating': '6.8',
   'imDbRatingCount': '21981'},
  {'id': 'tt0092099',
   'rank': '42',
   'rankUpDown': '+1',
   'title': 'Top Gun',
   'fullTitle': 'Top Gun (1986)',
   'year': '1986',
   'image': 'https://m.media-amazon.com/images/M/MV5BZjQxYTA3ODItNzgxMy00N2Y2LWJlZGMtMTRlM2JkZjI1ZDhhXkEyXkFqcGdeQXVyNDk3NzU2MTQ@._V1_Ratio0.6716_AL_.jpg',
   'crew': 'Tony Scott (dir.), Tom Cruise, Tim Robbins',
   'imDbRating': '6.9',
   'imDbRatingCount': '459357'},
  {'id': 'tt18079362',
   'rank': '43',
   'rankUpDown': '-13',
   'title': '80 for Brady',
   'fullTitle': '80 for Brady (2023)',
   'year': '2023',
   'image': 'https://m.media-amazon.com/images/M/MV5BNzY4MzQ1MTgtNGZiYS00Y2M5LWJmODUtYzIzNWFlOGZjMjk5XkEyXkFqcGdeQXVyMTA3MDk2NDg2._V1_Ratio0.6716_AL_.jpg',
   'crew': 'Kyle Marvin (dir.), Rita Moreno, Sally Field',
   'imDbRating': '5.8',
   'imDbRatingCount': '832'},
  {'id': 'tt10151854',
   'rank': '44',
   'rankUpDown': '+541',
   'title': 'Shazam! Fury of the Gods',
   'fullTitle': 'Shazam! Fury of the Gods (2023)',
   'year': '2023',
   'image': 'https://m.media-amazon.com/images/M/MV5BZTJkMTBjZWEtMzhhMy00MjlkLTkyNTYtNGZjNGM4Mjk5YTEyXkEyXkFqcGdeQXVyNjY1MTg4Mzc@._V1_Ratio0.7910_AL_.jpg',
   'crew': 'David F. Sandberg (dir.), Zachary Levi, Grace Caroline Currey',
   'imDbRating': '',
   'imDbRatingCount': '0'},
  {'id': 'tt10304142',
   'rank': '45',
   'rankUpDown': '-17',
   'title': 'Amsterdam',
   'fullTitle': 'Amsterdam (2022)',
   'year': '2022',
   'image': 'https://m.media-amazon.com/images/M/MV5BNDQwNzE0ZTItYmZjMC00NjI3LWFlNzctNTExZDY2NWE0Zjc0XkEyXkFqcGdeQXVyMTA3MDk2NDg2._V1_Ratio0.6716_AL_.jpg',
   'crew': 'David O. Russell (dir.), Christian Bale, Margot Robbie',
   'imDbRating': '6.1',
   'imDbRatingCount': '62932'},
  {'id': 'tt10855768',
   'rank': '46',
   'rankUpDown': '+13',
   'title': 'Missing',
   'fullTitle': 'Missing (2023)',
   'year': '2023',
   'image': 'https://m.media-amazon.com/images/M/MV5BNzI3MmU1NjQtZmM2ZC00Y2NkLWFhMDMtZmVhYTc1NTFjZTFhXkEyXkFqcGdeQXVyMTAxNzQ1NzI@._V1_Ratio0.7910_AL_.jpg',
   'crew': 'Nicholas D. Johnson (dir.), Tim Griffin, Ava Zaria Lee',
   'imDbRating': '7.4',
   'imDbRatingCount': '2917'},
  {'id': 'tt7985704',
   'rank': '47',
   'rankUpDown': '-21',
   'title': 'Operation Fortune: Ruse de guerre',
   'fullTitle': 'Operation Fortune: Ruse de guerre (2023)',
   'year': '2023',

##### *Note:* This is an unoficial IMDB api and as such provides limited options. Web Scrapping of the Netflix page in IMDB offered more possibilities data extraction.

### Web Scrapping - IMDB Netflix List

In [12]:
url_imdb = 'https://www.imdb.com/search/title/?companies=co0144901'
headers = {'Accept-Language': 'en-US,en;q=0.5'}
html = requests.get(url_imdb, headers=headers)

In [13]:
soup = bs(html.content, 'html.parser')

In [14]:
titles = soup.find_all("div", attrs = {"class":"psf-widget"})

In [15]:
title = soup.select("div h3 a")
title_ = [i.getText().strip() for i in title]
title_

['You People',
 'Lockwood & Co',
 'Wednesday',
 "That '90s Show",
 'The Walking Dead',
 'Ginny & Georgia',
 'Happy Valley',
 'Glass Onion',
 'Breaking Bad',
 'All Quiet on the Western Front',
 'The Pale Blue Eye',
 'Murder Mystery 2',
 'Outer Banks',
 'Better Call Saul',
 "That '70s Show",
 'The Snow Girl',
 "Grey's Anatomy",
 'Vikings: Valhalla',
 'Stranger Things',
 'Bullet Train',
 'Fauda',
 'Cunk on Earth',
 'New Amsterdam',
 "Narvik: Hitler's First Defeat",
 'Teen Wolf',
 'Supernatural',
 'Kaleidoscope',
 'NCIS',
 'Vikings',
 'Peaky Blinders',
 'The Crown',
 'Friends',
 'You',
 'The Blacklist',
 'The Super Mario Bros. Movie',
 'Modern Family',
 'Women at War',
 'Attack on Titan',
 'Alice in Borderland',
 'Blonde',
 'Suits',
 'Seinfeld',
 "Guillermo del Toro's Pinocchio",
 'The Recruit',
 'Rick and Morty',
 'American Horror Story',
 'Top Gun',
 'Black Mirror',
 'Shameless',
 'Devotion']

In [16]:
title[0].get('href')

'/title/tt14826022/'

In [17]:
genre = soup.select("span.genre")
genre_ = [i.getText().strip() for i in genre]
genre_

['Comedy, Romance',
 'Action, Adventure, Drama',
 'Comedy, Crime, Fantasy',
 'Comedy, Drama, Romance',
 'Drama, Horror, Thriller',
 'Comedy, Drama',
 'Crime, Drama, Thriller',
 'Comedy, Crime, Drama',
 'Crime, Drama, Thriller',
 'Action, Drama, War',
 'Crime, Horror, Mystery',
 'Action, Comedy, Crime',
 'Action, Crime, Drama',
 'Crime, Drama',
 'Comedy, Drama, Romance',
 'Crime, Drama, Mystery',
 'Drama, Romance',
 'Action, Adventure, Drama',
 'Drama, Fantasy, Horror',
 'Action, Comedy, Thriller',
 'Action, Drama, Thriller',
 'Documentary, Comedy',
 'Drama',
 'Drama, History, War',
 'Action, Drama, Fantasy',
 'Drama, Fantasy, Horror',
 'Action, Crime, Drama',
 'Action, Crime, Drama',
 'Action, Adventure, Drama',
 'Crime, Drama',
 'Biography, Drama, History',
 'Comedy, Romance',
 'Crime, Drama, Romance',
 'Crime, Drama, Mystery',
 'Animation, Adventure, Comedy',
 'Comedy, Drama, Romance',
 'Drama, History',
 'Animation, Action, Adventure',
 'Action, Drama, Mystery',
 'Biography, Drama, Romance',
 'Comedy, Drama',
 'Comedy',
 'Animation, Drama, Family',
 'Action, Adventure, Crime',
 'Animation, Adventure, Comedy',
 'Drama, Horror, Sci-Fi',
 'Action, Drama',
 'Drama, Mystery, Sci-Fi',
 'Comedy, Drama',
 'Action, Drama, War']

In [18]:
title = soup.find_all('h3', {'class':"lister-item-header"})[0]
title

<h3 class="lister-item-header">
<span class="lister-item-index unbold text-primary">1.</span>
<a href="/title/tt14826022/">You People</a>
<span class="lister-item-year text-muted unbold">(2023)</span>
</h3>

In [19]:
genres = soup.find_all('p', {'class':"genre"})
genres

[]

In [20]:
def scrape_imdb(n):
   
    title = []
    genre = []
    rating = []
    
    try:
        for i in range(1, n+1):
            url = f'https://www.imdb.com/search/title/?companies=co0144901&start={i}&ref_=adv_nxt'
            headers = {'Accept-Language': 'en-US,en;q=0.5'}

            response = requests.get(url, headers=headers)
            soup = bs(response.text, 'html.parser')

            # find all movie titles in the page
            titles = [a.text for a in soup.find_all('h3', {'class':"lister-item-header"})][0]

            # find genre 
            genres = [a.text for a in soup.find_all('span', {'class':"genre"})][0]

            # find type
            ratings = [a.text for a in soup.find_all('div', {'class':"inline-block ratings-imdb-rating"})][0]

            # add the titles to the results list
            title.append(titles)
            genre.append(genres)
            rating.append(ratings)
            
            #ensure they are all the same length
           # min_len = min(len(titles), len(genres), len(ratings))
           # titles = titles[:min_len]
          #  genres = genres[:min_len]
          #  ratings = ratings[:min_len]

        # create a DataFrame from the results
        df_imdb = pd.DataFrame({'title': title, 'genre': genre, 'rating': rating})
        
        
        return df_imdb
    
    except Exception as e:
        return print(f"Error scraping page {i}: {e}")

In [21]:
df_imdb = scrape_imdb(1000)

KeyboardInterrupt:

In [ ]:
df_imdb.describe()

,title,genre,rating
count,1000,1000,1000
unique,1000,203,57
top,\n1.\nThat '90s Show\n(2023– )\n,"\nCrime, Drama, Mystery",\n\n7.5\n
freq,1,56,41

In [ ]:
df_imdb["Title_imdb"] = df_imdb["title"].str.extract(r'\n\d+\..*\n([^\n\(\)]+)\n')

In [ ]:
df_imdb["genre"] = df_imdb["genre"].str.strip('\n')

In [ ]:
df_imdb["rating"] = df_imdb["rating"].str.strip('\n')

In [ ]:
df_imdb["rating"].dtype

dtype('O')

In [ ]:
df_imdb["rating"] = df_imdb["rating"].astype(float)

In [ ]:
df_imdb.sample(5)

,title,genre,rating,Title_imdb
864,\n865.\nLove in the Villa\n(2022)\n,"Comedy, Romance",5.4,Love in the Villa
110,\n111.\nSherlock\n(2010–2017)\n,"Crime, Drama, Mystery",9.1,Sherlock
627,\n628.\nThe Unforgivable\n(2021)\n,"Crime, Drama",7.1,The Unforgivable
752,\n753.\nBlack Crab\n(2022)\n,"Action, Adventure, Drama",5.7,Black Crab
469,\n470.\nI Used to Be Famous\n(2022)\n,"Comedy, Drama, Music",6.6,I Used to Be Famous

In [ ]:
df_imdb.drop(['title'], axis=1, inplace=True)

In [ ]:
df_imdb = df_imdb.reindex(columns=['Title_imdb', 'genre', 'rating'])

In [ ]:
df_imdb.sample()

             Title_imdb                        genre  rating
298  Your Place or Mine  Comedy, Romance                 7.1

In [ ]:
df_imdb['Title_imdb'].describe()

count                            996
unique                           986
top       Avatar: The Last Airbender
freq                               2
Name: Title_imdb, dtype: object

In [ ]:
df_imdb.shape

(1000, 3)

### CSV File - My Netflix viewing list

In [ ]:
with open("data/netflix_viewing-history.csv") as f:
    print(f)

<_io.TextIOWrapper name='data/netflix_viewing-history.csv' mode='r' encoding='cp1252'>

In [25]:
df_net = pd.read_csv("data/netflix_viewing-history.csv")
df_net.describe()

               Title        Date
count           6177        6177
unique          5857        1177
top      : Episode 1  27/11/2022
freq               7          45

In [ ]:
df_net.describe()

               Title        Date
count           6177        6177
unique          5857        1177
top      : Episode 1  27/11/2022
freq               7          45

In [ ]:
df_net.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6177 entries, 0 to 6176
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Title   6177 non-null   object
 1   Date    6177 non-null   object
dtypes: object(2)
memory usage: 96.6+ KB

In [ ]:
df_net['Date'] = pd.to_datetime(df_net['Date'], dayfirst=True)

In [ ]:
df_net["Title_net"] = df_net["Title"].str.extract(r"^([^:]+)")

In [ ]:
df_net.sample(5)

,Title,Date,Title_net
1670,Mo: Season 1: Tombstone,2022-04-09,Mo
3110,Kim's Convenience: Season 2: Sneak Attack,2021-06-28,Kim's Convenience
4346,How I Met Your Mother: Season 2: Aldrin Justice,2020-09-22,How I Met Your Mother
747,I Think You Should Leave with Tim Robinson: Se...,2019-05-16,I Think You Should Leave with Tim Robinson
4164,Pan,2020-11-15,Pan

In [ ]:
df_net['Date'].dtype

dtype('<M8[ns]')

In [ ]:
df_net['Title_net'].describe()

count          6177
unique          832
top       Star Trek
freq            488
Name: Title_net, dtype: object

In [ ]:
df_net.drop_duplicates(subset="Title_net", keep='first', inplace=True)

In [ ]:
df_net['Title_net'].describe()

count               832
unique              832
top       The Godfather
freq                  1
Name: Title_net, dtype: object

In [ ]:
df_net.sample(5)

,Title,Date,Title_net
5276,Dark Shadows,2019-10-23,Dark Shadows
2235,Playing with Fire,2022-09-01,Playing with Fire
161,Amy Schumer Growing,2022-03-30,Amy Schumer Growing
2607,Adventure Beast: Nature Hates Jerks,2021-10-31,Adventure Beast
5878,The Lonely Island Presents: The Unauthorized B...,2019-05-25,The Lonely Island Presents

In [ ]:
df_net.drop(['Title'], axis=1, inplace=True)

### Merge IMDB and Netflix Lists

In [ ]:
def merge_dfs(df_imdb, df_net, on='Title2'):
    if on in df_imdb.columns and on in df_net.columns:
        df_net = df_net.rename(columns={ on:f'{on}_right'})
        #on = f'{on}_right'
    df_merged = pd.merge(df_imdb, df_net, on=on)
    return df_merged

In [ ]:
df_net.describe()

C:\Users\danid\AppData\Local\Temp\ipykernel_14408\3941314626.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  df_net.describe()

                       Date      Title_net
count                   832            832
unique                  544            832
top     2020-11-14 00:00:00  The Godfather
freq                      7              1
first   2017-07-30 00:00:00            NaN
last    2023-12-01 00:00:00            NaN

In [ ]:
df_imdb['Title_imdb'].describe()

count                            996
unique                           986
top       Avatar: The Last Airbender
freq                               2
Name: Title_imdb, dtype: object

In [ ]:
merge_dfs = pd.merge(df_net, df_imdb, left_on='Title_net', right_on='Title_imdb', how='left')

In [ ]:
merge_dfs.sample()

          Date           Title_net Title_imdb genre  rating
349 2022-10-29  Happy Death Day 2U        NaN   NaN     NaN

In [ ]:
df_imdb['Title_imdb'].unique

<bound method Series.unique of 0        That '90s Show
1             Wednesday
2            You People
3       Ginny & Georgia
4      The Walking Dead
             ...
995              Mirage
996            Mudbound
997        The Takeover
998     Despicable Me 2
999                 NaN
Name: Title_imdb, Length: 1000, dtype: object>

In [ ]:
df_net['Title_net'].unique

<bound method Series.unique of 0                     The Godfather
1                            Trolls
2                      VINLAND SAGA
3              Arrested Development
4                     Puss in Boots
                   ...
6161    Tidying Up with Marie Kondo
6173                     Safe House
6174                     Win It All
6175                    The Cobbler
6176     The Fundamentals of Caring
Name: Title_net, Length: 832, dtype: object>

In [ ]:
merge_dfs.sample(10)

,Date,Title_net,Title_imdb,genre,rating
590,2021-08-01,Equinox,NaN,NaN,NaN
714,2020-02-23,Game Night,NaN,NaN,NaN
215,2020-05-23,The Adjustment Bureau,NaN,NaN,NaN
382,2022-07-25,The Best of Netflix Is a Joke,NaN,NaN,NaN
289,2018-04-11,Day of the Dead,NaN,NaN,NaN
562,2021-03-13,ARQ,NaN,NaN,NaN
566,2021-06-03,Nerve,NaN,NaN,NaN
605,2020-12-20,Christmas Made to Order,NaN,NaN,NaN
411,2022-03-26,Black Crab,Black Crab,"Action, Adventure, Drama",5.7
225,2020-04-28,The House Bunny,NaN,NaN,NaN

In [ ]:
merged = merge_dfs.drop_duplicates(subset = "Title_imdb")

In [ ]:
merged

,Date,Title_net,Title_imdb,genre,rating
0,2023-01-29,The Godfather,NaN,NaN,NaN
3,2023-01-29,Arrested Development,Arrested Development,Comedy,8.7
7,2023-01-28,Wednesday,Wednesday,"Comedy, Crime, Fantasy",8.2
9,2023-01-14,The Pale Blue Eye,The Pale Blue Eye,"Crime, Horror, Mystery",6.6
10,2023-01-08,1899,1899,"Drama, Mystery",7.4
...,...,...,...,...,...
809,2019-03-22,The Dirt,The Dirt,"Biography, Comedy, Drama",7.0
810,2019-03-18,Triple Frontier,Triple Frontier,"Action, Thriller",6.4
816,2019-04-03,Serenity,Serenity,"Drama, Mystery, Thriller",5.4
820,2019-02-27,Velvet Buzzsaw,Velvet Buzzsaw,"Horror, Mystery, Thriller",5.7
835,2018-12-13,The Fundamentals of Caring,The Fundamentals of Caring,"Comedy, Drama",7.3

In [ ]:
merged['Title_imdb'].describe()

count                      243
unique                     243
top       Arrested Development
freq                         1
Name: Title_imdb, dtype: object

In [ ]:
merged['Title_imdb'].isna().sum()

1

In [ ]:
merged.to_csv('data/clean-and-merged_movies.csv')